<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Secular+One&display=swap" rel="stylesheet">

<body>
  <div class="card-container">
      <form name="HEASARC search" id="HEASARC" actuin="#" method="post">
          Type: <select name="type" id="serviceType">
            <option value="image" selected="selected">Image</option>
            <option value="ssa" selected="selected">SSA</option>
            <option value="null" selected="selected">Select Type</option>
          </select>
          <br><br>
          Wave Band: <select name="waveBand" id="waveBand">
            <option value="uv" selected="selected">UV</option>
            <option value="x-ray" selected="selected">X-Ray</option>
            <option value="optical" selected="selected">Optical</option>
            <option value="null" selected="selected">Select Waveband</option>
          </select>
          <br><br>
          Keyword: <select name="keyword" id="keyword">
            <option value="chandra" selected="selected">Chandra</option>
            <option value="hst" selected="selected">HST</option>
            <option value="ixpe" selected="selected">IXPE (Experimental)</option>
            <option value="nicer" selected="selected">NICER</option>
            <option value="nustar" selected="selected">NuSTAR</option>
            <option value="swift" selected="selected">Swift</option>
            <option value="xmm-newton" selected="selected">NMM-Newton</option>
            <option value="xrism" selected="selected">XRISM</option>
            <option value="null" selected="selected">Select Keyword</option>
          </select>
          <br><br>
          <label for="coord">Object Name:</label>
          <input type="text" id="coord" name="coord"><br><br>
          <label for="size">Size (0.1 - 1):</label>
          <input type="text" id="size" name="size"><br><br>
          <input type="submit" value="Search">
        </form> 
  </div>
</body>
</html>