<!DOCTYPE html>
<html>
<head>
	<title>Big Sky | Viewer</title>

	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;900&family=Secular+One&display=swap" rel="stylesheet"> 

	<script src="{{url_for('static', filename='sky-sphere.min.js')}}"></script> 

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

	<style type="text/css">
		.inline-a {
			font-weight: 900;
			text-decoration: none;
			color: #0652DD;
		}

		/* BUTTON */
		.button {
		  padding: 15px 25px;
		  font-size: 24px;
		  text-align: center;
		  cursor: pointer;
		  outline: none;
		  color: #fff;
		  background-color: #0652DD;
		  border: none;
		  border-radius: 15px;
		  box-shadow: 0 9px #999;
		}

		.button:hover {background-color: #013dac}

		.button:active {
		  background-color: #013dac;
		  box-shadow: 0 5px #666;
		  transform: translateY(4px);
		}

		/* SKY SPHERE */
		.centered-div {
			margin: 0 auto;
			text-align: center;
		}

		.display-info-card {
			width: 800px;
			text-align: left;
			margin: 0 auto;
		}

		#sky {
			margin: 0 auto;
			display: block;
		}

		.inline-a:hover {
			text-decoration: underline;
		}
	</style>

	<style type="text/css">
		label {
			font-family: 'Secular One', sans-serif;
		}

		input[type="text"] {
			appearance: none;
			-moz-appearance: none;
			-webkit-appearance: none;

			padding: 16px;

			background-color: #f1f2f6;
			outline: none;
			border: none;
			border-radius: 6px;

			font-family: 'Noto Sans JP', sans-serif;
			font-size: 1rem;
		}

		input[type="submit"] {
			appearance: none;
			-moz-appearance: none;
			-webkit-appearance: none;

			padding: 16px;

			background-color: #0652DD;
			border: none;
			outline: none;
			border-radius: 8px;

			width: 300px;

			font-family: 'Secular One', sans-serif;
			font-size: 1.25rem;
			letter-spacing: 4px;
			color: white;

			cursor: pointer;

			-webkit-transition: all 0.25s ease-in-out;
			-moz-transition: all 0.25s ease-in-out;
			-ms-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;
		}

		input[type="submit"]:hover {
			-webkit-box-shadow: 0px 0px 36px -6px #0652DDBF;
			-moz-box-shadow: 0px 0px 36px -6px #0652DDBF;
			box-shadow: 0px 0px 36px -6px #0652DDBF;

			-webkit-transition: all 0.25s ease-in-out;
			-moz-transition: all 0.25s ease-in-out;
			-ms-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;
		}
	</style>

</head>
<body>

	<nav>
		<h2>BIG SKY</h2>
    	<h1>HEASARC and NEOSSat Data Viewer</h1>

    	<ul>
    		<li><a href="/" style="color: #0652DD;">HOME</a></li>
    		<li style="margin-left: 32px"><a href="/about">ABOUT</a></li>
    		<li style="margin-left: 32px"><a href="https://github.com/GeorgeBerdovskiy/nasa-spaceapps-2020" target="_blank">GITHUB</a></li>
    	</ul>
	</nav>

	<div class="centered-div" style="margin-bottom: 32px;">
		<h2>SKY SPHERE</h2>
		<p>For best results, view on desktop.</p>
		<canvas id="sky"></canvas>

		<div class="display-info-card">
			<div class="data-card">
				<h3 id="object-name">NAME</h3>

				<h4>Imaging Specification</h4>
				<p>Satellite Pointing State: <span class="information" id="satellite-pointing-state"></span></p>
				<p>Operational Amplifier: <span class="information" id="op-amp"></span></p>
				<p>Binning X Direction: <span class="information" id="bin-x-dir"></span></p>
				<p>Binning Y Direction: <span class="information" id="bin-y-dir"></span></p>
				<p>Ccd Temperature (K): <span class="information" id="ccd-temp"></span></p>
				<p>Date of Observation: <span class="information" id="date-observed"></span></p>
				<p>Actual Start Time of Observation: <span class="information" id="actual-obs-start"></span></p>
				<p>Jd Date of Observation: <span class="information" id="jd-date-observed"></span></p>
				<p>Requested Exposure Start Time: <span class="information" id="req-exp-start"></span></p>
				<p>Actual Exposure Start Time: <span class="information" id="act-exp-start"></span></p>
				<p>Exposure Actual Length of Exposure (Seconds): <span class="information" id="act-length-exp"></span></p>
				<p>Shutter State: <span class="information" id="shutter-state"></span></p>
				<p>Corner1x: <span class="information" id="c1x"></span></p>
				<p>Corner1y: <span class="information" id="c1y"></span></p>
				<p>Corner2x: <span class="information" id="c2x"></span></p>
				<p style="margin-bottom: 16px">Corner2y: <span class="information" id="c2y"></span></p>

				<h4 id="object-name">Attitude</h4>
				<p>Actual Ra at Start of Exposure: <span class="information" id="actual-ra-start"></span></p>
				<p>Actual Dec at Start of Exposure: <span class="information" id="actual-dec-start"></span></p>
				<p>Actual Roll at Start of Exposure: <span class="information" id="actual-roll-start"></span></p>
				<p>Minimum Earth Limb Angle: <span class="information" id="min-earth-limb-angle"></span></p>
				<p>Maximum Earth Limb Angle: <span class="information" id="max-earth-limb-angle"></span></p>
				<p>Earth Limb Angle: <span class="information" id="earth-limb-angle"></span></p>
				<p>Minimum Sun Angle: <span class="information" id="min-sun-angle"></span></p>
				<p>Maximum Sun Angle: <span class="information" id="max-sun-angle"></span></p>

				<div class="display-links-position">
						<a id="download-image-dynamic" class="image-download display-card" href="#">DOWNLOAD FITS IMAGE<img class="image-icon" src="{{url_for('static', filename='image-icon.png')}}"/></a>
					</div>

				
			</div>
    	</div>
	</div>

	<div class="centered-div">
		<h2>HEASARC SEARCH</h2>
		<p>Search results take a long time.</p>
		<p style="margin-bottom: 16px;">Please enter valid data - there is no input validation as of now.</p>
	</div>

    <div class="card-container">

    		<div class="data-card">

	      <form name="HEASARC Search" id="HEASARC" actuin="#" method="post">
	          <label>Type</label> <select name="type" id="serviceType">
	            <option value="image" selected="selected">Image</option>
            	<option value="ssa" selected="selected">SSA</option>
            	<option value="null" selected="selected">Select Type</option>
	          </select>
	          <br><br>
	          <label>Wave Band</label> <select name="waveBand" id="waveBand">
				<option value="uv" selected="selected">UV</option>
				<option value="x-ray" selected="selected">X-Ray</option>
				<option value="optical" selected="selected">Optical</option>
				<option value="null" selected="selected">Select Waveband</option>
	          </select>
	          <br><br>
	          <label>Keyword</label> <select name="keyword" id="keyword">
				<option value="chandra" selected="selected">Chandra</option>
				<option value="hst" selected="selected">HST</option>
				<option value="ixpe" selected="selected">IXPE (Experimental)</option>
				<option value="nicer" selected="selected">NICER</option>
				<option value="nustar" selected="selected">NuSTAR</option>
				<option value="swift" selected="selected">Swift</option>
				<option value="xmm-newton" selected="selected">NMM-Newton</option>
				<option value="xrism" selected="selected">XRISM</option>
				<option value="null" selected="selected">Select Keyword</option>
	          </select>
	          <br><br>
	          <label for="coord">Object Name</label><br/>
	          <input type="text" id="coord" name="coord"><br><br>
	          <label for="size">Size (0.1 - 1)</label><br/>
	          <input type="text" id="size" name="size"><br><br>
	          <input type="submit" value="SEARCH">
	        </form> 
	    </div>
	  </div>
	
	<div class="centered-div">
		<h2>LIST OF RETRIEVED OBJECTS</h2>
		<p style="margin-bottom: 16px;">Image may not download if resource URL is invalid.</p>
	</div>
    <div class="card-container">
		{% for obj in test_obj %}
			<div class="data-card">
				<h3>{{ obj['FITSImage']['Image']['PrimeObjectName'] }}</h3>
				<p>{{ obj['FITSImage']['ImagingSpecification']['DateOfObservation'] }}</p>

				<a class="image-download display-card" href="{{ obj['FITSImage']['Image']['ImageFile'] }}">DOWNLOAD FITS IMAGE<img class="image-icon" src="{{url_for('static', filename='image-icon.png')}}"/></a>
				
			</div>
		{% endfor %}
    </div>

    <div class="centered-div" style="width: 1000px; max-width: 100%; margin-bottom: 32px;">
		<h2>SOURCES</h2>

		<p style="font-size: 1.25rem; padding: 32px; text-align: left;">
			Sky Sphere - Created by <a class="inline-a" href="https://github.com/zonia3000">Sonia Zorba</a>, located at <a class="inline-a" href="http://zonia3000.github.io/SkySphere/">http://zonia3000.github.io/SkySphere</a>.<br/><br/>

			CSA Resources - NEOSSat Data from <a class="inline-a" href="ftp://data.asc-csa.gc.ca/users/OpenData_DonneesOuvertes/pub/NEOSSAT/">here</a>.<br/>
		</p>
	</div>

</body>

<script type="text/javascript">
var sky = new SkySphere('sky', {
	    width: 800,
	    height: 400,
	    customOnClick: function(data) {
	        document.getElementById("object-name").innerHTML = data.clickData.FITSImage.Image.PrimeObjectName

	        document.getElementById("satellite-pointing-state").innerHTML = data.clickData.FITSImage.ImagingSpecification.SatellitePointingState
	        document.getElementById("op-amp").innerHTML = data.clickData.FITSImage.ImagingSpecification.OperationalAmplifier
	        document.getElementById("bin-x-dir").innerHTML = data.clickData.FITSImage.ImagingSpecification.BinningXdirection
	        document.getElementById("bin-y-dir").innerHTML = data.clickData.FITSImage.ImagingSpecification.BinningYdirection
	        document.getElementById("ccd-temp").innerHTML = data.clickData.FITSImage.ImagingSpecification.CcdTemperatureK
	        document.getElementById("date-observed").innerHTML = data.clickData.FITSImage.ImagingSpecification.DateOfObservation
	        document.getElementById("actual-obs-start").innerHTML = data.clickData.FITSImage.ImagingSpecification.ActualStartTimeOfObservation
	        document.getElementById("jd-date-observed").innerHTML = data.clickData.FITSImage.ImagingSpecification.JdDateOfObs
	        document.getElementById("req-exp-start").innerHTML = data.clickData.FITSImage.ImagingSpecification.RequestedExposureStartTime
	        document.getElementById("act-exp-start").innerHTML = data.clickData.FITSImage.ImagingSpecification.ActualExposureStartTime
	        document.getElementById("act-length-exp").innerHTML = data.clickData.FITSImage.ImagingSpecification.ExposureActualLengthOfExposureSeconds
	        document.getElementById("shutter-state").innerHTML = data.clickData.FITSImage.ImagingSpecification.ShutterState
	        document.getElementById("c1x").innerHTML = data.clickData.FITSImage.ImagingSpecification.Corner1x
	        document.getElementById("c1y").innerHTML = data.clickData.FITSImage.ImagingSpecification.Corner1y
	        document.getElementById("c2x").innerHTML = data.clickData.FITSImage.ImagingSpecification.Corner2x
	        document.getElementById("c2y").innerHTML = data.clickData.FITSImage.ImagingSpecification.Corner2y

	        document.getElementById("actual-ra-start").innerHTML = data.clickData.FITSImage.Attitude.ActualRaAtStartOfExposure
	        document.getElementById("actual-dec-start").innerHTML = data.clickData.FITSImage.Attitude.ActualDecAtStartOfExposure
	        document.getElementById("actual-roll-start").innerHTML = data.clickData.FITSImage.Attitude.ActualRollAtStartOfExposure
	        document.getElementById("min-earth-limb-angle").innerHTML = data.clickData.FITSImage.Attitude.MinimumEarthLimbAngle
	        document.getElementById("max-earth-limb-angle").innerHTML = data.clickData.FITSImage.Attitude.MaximumEarthLimbAngle
	        document.getElementById("earth-limb-angle").innerHTML = data.clickData.FITSImage.Attitude.EarthLimbAngle
	        document.getElementById("min-sun-angle").innerHTML = data.clickData.FITSImage.Attitude.MinimumSunAngle
	        document.getElementById("max-sun-angle").innerHTML = data.clickData.FITSImage.Attitude.MaximumSunAngle

	        document.getElementById("download-image-dynamic").href = data.clickData.FITSImage.Image.ImageFile
	    },
	    getObjectText: function (data) {
			return data.name;
        }
	});
	//So, for example, if RA is 15h29m18s the value to use is 15 + 29 / 60 + 18 / 3600 = 15.488333.
	var all_objects = '{{ test_obj | tojson }}'
	console.log(all_objects)
	var all_objects_parsed = JSON.parse(all_objects)
	console.log(all_objects_parsed)

	for (var i = 0; i < all_objects_parsed.length; i++) {
		console.log("I is " + i)
		console.log(all_objects_parsed.length)
		console.log(all_objects_parsed[i].FITSImage.Attitude.ActualRaAtStartOfExposure)

		var ra = all_objects_parsed[i].FITSImage.Attitude.ActualRaAtStartOfExposure
		var dec = all_objects_parsed[i].FITSImage.Attitude.ActualDecAtStartOfExposure
		var name= all_objects_parsed[i].FITSImage.Image.PrimeObjectName

		var numberOfWhitespace = 0

		var one = ""
		var two = ""
		var three = ""

		for (var a = 0; a < ra.length; a++) {
			if (ra.charAt(a) == ' ') {
				numberOfWhitespace += 1
				console.log("Char is whitespace")
			}

			if (numberOfWhitespace < 1) {
				one += ra.charAt(a)
				console.log("Adding to one - " + ra.charAt(a))
			} else if (numberOfWhitespace == 1) {
				two += ra.charAt(a)
				console.log("Adding to two - " + ra.charAt(a))
			} else if (numberOfWhitespace == 2) {
				three += ra.charAt(a)
				console.log("Adding to three - " + ra.charAt(a))
			} else {
				console.log("numberOfWhitespace is " + numberOfWhitespace)
			}
		}

		var done = ""
		var dtwo = ""
		var dthree = ""

		var dnumberOfWhitespace = 0

		for (var a = 0; a < dec.length; a++) {
			if (dec.charAt(i) == ' ') {
				dnumberOfWhitespace += 1
				console.log("Char is whitespace")
			}

			if (dnumberOfWhitespace < 1) {
				one += dec.charAt(a)
				console.log("Adding to one - " + dec.charAt(a))
			} else if (dnumberOfWhitespace == 1) {
				two += dec.charAt(a)
				console.log("Adding to two - " + dec.charAt(a))
			} else if (dnumberOfWhitespace == 2) {
				three += dec.charAt(a)
				console.log("Adding to three - " + dec.charAt(a))
			} else {
				console.log("numberOfWhitespace is " + dnumberOfWhitespace)
			}
		}

		var standard_ra_conversion = parseFloat(one) + (parseFloat(two) / 60) + (parseFloat(three) / 3600)
		var standard_dec_conversion = parseFloat(one) + (parseFloat(two) / 60) + (parseFloat(three) / 3600)
		console.log("Ra" + standard_ra_conversion)

		console.log("Dec" + standard_dec_conversion)

		sky.addCustomObject(standard_ra_conversion, standard_dec_conversion, {
			name: name,
			clickData: all_objects_parsed[i],
			color: '#25CCF7',
			radius: 10,
		});
	}

	sky.addCustomObject(3.58814, -4.92319, {
		name: 'Sun',
		clickData: 'Sun',
		color: '#ffe400',
		radius: 10
	});

	sky.drawSky();
</script>
</html>